ErrorDocument 400 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 401 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 402 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 403 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 404 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 405 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 500 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 501 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 502 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 503 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 504 /ateliers/atelier_blog_php_procedural/vues/error.html
ErrorDocument 505 /ateliers/atelier_blog_php_procedural/vues/error.html