/*NAV*/

.nav_title{
	text-align: center;
	color: white;
}

.title{
	text-align: center;
	margin: 40px;
	background-color: grey;
}

.add_button{
	margin: 40px;
}

.row_button{
	text-align: center;
}
.articles{
	border: 2px solid black;
	margin: 3px;
}